<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
       
         function Hello(){
            document.querySelector('h1').innerHTML = "How are you";
        }
        </script>
</head>
<body>
    <h1>Hello <%= locals.text || 'Default' %></h1>

    <button onclick="Hello()">Click</button>
</body>
</html>